<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Home Page</title>
</head>
<body>
    <header>
        <div class="container1">
            <a href="/" id="logo">AppFlask</a>
            <nav>
                <ul class="menu-bar">
                    <li><a href="/">Home</a></li>
                    <li><a href="#technologies">Technologies</a></li>
                    <li><a href="#knowledge">Knowledge</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="/login" class="active">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="section1">
        <div class="container2" id="technologies">
            <div class="flex-item-1">
                <h2>Plataforma desenvolvida em python</h2>
                <p>Site desenvolvido utilizando as tecnologias, HTML, CSS, JS e o Framework Flask.</p>
            </div>
        </div>
    </section>
    <section class="section2">
        <div class="container3">
            <div class="flex-item-cartoes">
                <img src="../static/img/others/htmlimg.png" alt="">
                <h3>Desenvolvimento em HTML</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, eveniet laborum? Voluptate atque aperiam, non necessitatibus recusandae excepturi eos numquam repudiandae ipsa officia dolorem maxime incidunt reiciendis eius dolorum placeat?</p>
            </div>
            <div class="flex-item-cartoes">
                <img src="../static/img/others/cssimg.png" alt="">
                <h3>Desenvolvimento em CSS</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, eveniet laborum? Voluptate atque aperiam, non necessitatibus recusandae excepturi eos numquam repudiandae ipsa officia dolorem maxime incidunt reiciendis eius dolorum placeat?</p>
            </div>
            <div class="flex-item-cartoes">
                <img src="../static/img/others/jsimg.png" alt="">
                <h3>Desenvolvimento em JS</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, eveniet laborum? Voluptate atque aperiam, non necessitatibus recusandae excepturi eos numquam repudiandae ipsa officia dolorem maxime incidunt reiciendis eius dolorum placeat?</p>
            </div>
            <div class="flex-item-cartoes">
                <img src="../static/img/others/pythonimg.png" alt="">
                <h3>Desenvolvimento em Python</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, eveniet laborum? Voluptate atque aperiam, non necessitatibus recusandae excepturi eos numquam repudiandae ipsa officia dolorem maxime incidunt reiciendis eius dolorum placeat?</p>
            </div>
        </div>
    </section>
    <section class="section3">
        <div class="container4" id="knowledge">
            <h4>Knowledge</h4>
            <div class="flex-item-container1">
                <div class="flex-item-habilidades python-percent">
                    <h5>Python</h5>
                    <p>30%</p>
                </div>
                <div class="flex-item-habilidades js-percent">
                    <h5>JavaScript</h5>
                    <p>10%</p>
                </div>
                <div class="flex-item-habilidades css-percent">
                    <h5>CSS</h5>
                    <p>30%</p>
                </div>
                <div class="flex-item-habilidades html-percent">
                    <h5>HTML</h5>
                    <p>30%</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section4">
        <div class="container5" id="about">
            <h6>About Me</h6>
            <div class="flex-item-sobre">
                <img src="../static/img/others/me.jpg" alt="">
                <div class="sobre-content">
                    <h5>Wellington Cimento</h5>
                    <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum laboriosam dolorum quia enim saepe impedit similique at accusantium eveniet, quae, veritatis corporis maiores perspiciatis dolorem? Aliquam laudantium incidunt ab deleniti?</em></p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container6">
            <span>&copy; All Rights Reserved <span id="year"></span></span>
        </div>
    </footer>
    <script src="../static/js/index.js"></script>
</body>
</html>