<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Login</title>
</head>
<body>
    <header>
        <div class="container1">
            <a href="/" id="logo">AppFlask</a>
        </div>
    </header>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alerts">
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
    <section class="section1">
        <div class="container-form">
            <form action="" method="POST" class="flex-form-container">
                {{ form.csrf_token }}
                {{ form.username (id="user", placeholder="Username")}}
                {{ form.password(id="pass", placeholder="Password") }}
                <input type="submit" value="Login">
                <p>Don't have an account?<a href="/register"> Sign Up!</a></p>
            </form>
        </div>
    </section>
    <script src="../static/js/login.js"></script>
</body>
</html>